html, body {
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hide {
    display: none !important;
}

nav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 0 0 10px 0;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: larger;
}

nav li p {
    margin: 0;
    font-size: x-small;
    padding-left: 1em;
    display: inline;
}

a {
    color: #3a7de8;
}

#newStream {
    color: white;
}

nav progress {
    width: 100px;
    opacity: 0.2;
}

h1 {
    text-align: center;
    margin-top: 50vh;
}